# Computer Infrastructure Assignment - Autumn 2025

## YFinance Assessment

In [2]:
# Imports

import numpy as np
import yfinance as yf

## Problem 1: Data from yfinance

Firstly, in this section I will use the yfinance Python package, already installed above. I will write a function called get_data() that downloads all hourly data for the previous five days for the five FAANG stocks:

- Facebook (META)
- Apple (AAPL)
- Amazon (AMZN)
- Netflix (NFLX)
- Google (GOOG)

I will then save the data that the function produces into the *data* folder, using a filename with the format YYYYMMDD-HHmmss.csv.

In [3]:
# Collect data for all FAANG 
# stocks over past 5 days
df = yf.download(['META', 'AAPL', 'AMZN', 'NFLX', 'GOOG'], period='5d')

C:\Users\hniam\AppData\Local\Temp\ipykernel_24024\1246281930.py:3: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(['META', 'AAPL', 'AMZN', 'NFLX', 'GOOG'], period='5d')
[*********************100%***********************]  5 of 5 completed

In [4]:
# Print data 
df

Price            Close                                                   \
Ticker            AAPL        AMZN        GOOG        META         NFLX
Date
2025-10-22  258.450012  217.949997  252.529999  733.409973  1116.369995
2025-10-23  259.579987  221.089996  253.729996  734.000000  1113.589966
2025-10-24  262.820007  224.210007  260.510010  738.359985  1094.689941
2025-10-27  268.809998  226.970001  269.929993  750.820007  1094.560059
2025-10-28  269.350006  230.475296  268.839996  753.799988  1107.045044

Price             High                                                   ...  \
Ticker            AAPL        AMZN        GOOG        META         NFLX  ...
Date                                                                     ...
2025-10-22  262.850006  220.009995  257.179993  740.599976  1157.599976  ...
2025-10-23  260.619995  221.300003  255.860001  742.409973  1127.829956  ...
2025-10-24  264.130005  225.399994  262.510010  741.210022  1114.510010  ...
2025-10-27  269.119995  228.399994  270.799988  755.750000  1102.280029  ...
2025-10-28  269.869995  231.485001  271.380005  758.390015  1116.979858  ...

Price             Open                                                   \
Ticker            AAPL        AMZN        GOOG        META         NFLX
Date
2025-10-22  262.649994  219.300003  255.009995  733.830017  1142.900024
2025-10-23  259.940002  219.000000  253.699997  734.700012  1126.900024
2025-10-24  261.190002  221.970001  257.299988  736.789978  1111.000000
2025-10-27  264.880005  227.660004  265.359985  749.729980  1100.670044
2025-10-28  269.135010  228.220001  269.989990  752.989990  1094.020020

Price         Volume
Ticker          AAPL      AMZN      GOOG      META      NFLX
Date
2025-10-22  45015300  44308500  19650200   8734500  14789000
2025-10-23  32754900  31540000  13241300   9856000   6849700
2025-10-24  38253700  38685100  18406000   9151300   6028000
2025-10-27  44701700  38116100  22944800  11287300   4677800
2025-10-28  28826929  37166742  14725650   9276178   3227009

[5 rows x 25 columns]

## Problem 2: Plotting Data

## Problem 3: Script

## Problem 4: Automation